In [1]:
import numpy as np 
import pandas as pd 

from minstone_util import *

In [2]:
df = pd.read_csv('../UNSW_NB15_training-set.csv', index_col = False).drop('id', axis= 1)
df

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,0.000011,udp,-,INT,2,0,496,0,90909.090200,254,...,1,2,0,0,0,1,2,0,Normal,0
1,0.000008,udp,-,INT,2,0,1762,0,125000.000300,254,...,1,2,0,0,0,1,2,0,Normal,0
2,0.000005,udp,-,INT,2,0,1068,0,200000.005100,254,...,1,3,0,0,0,1,3,0,Normal,0
3,0.000006,udp,-,INT,2,0,900,0,166666.660800,254,...,1,3,0,0,0,2,3,0,Normal,0
4,0.000010,udp,-,INT,2,0,2126,0,100000.002500,254,...,1,3,0,0,0,2,3,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82327,0.000005,udp,-,INT,2,0,104,0,200000.005100,254,...,1,2,0,0,0,2,1,0,Normal,0
82328,1.106101,tcp,-,FIN,20,8,18062,354,24.410067,254,...,1,1,0,0,0,3,2,0,Normal,0
82329,0.000000,arp,-,INT,1,0,46,0,0.000000,0,...,1,1,0,0,0,1,1,1,Normal,0
82330,0.000000,arp,-,INT,1,0,46,0,0.000000,0,...,1,1,0,0,0,1,1,1,Normal,0
82331,0.000009,udp,-,INT,2,0,104,0,111111.107200,254,...,1,1,0,0,0,1,1,0,Normal,0

In [30]:
NORMAL = df[df['attack_cat'] == 'Normal']
NORMAL.to_csv('../UNSW_NB15_NORMAL.csv', index=False)

ANOMALY = df[df['attack_cat'] != 'Normal']
ANOMALY.to_csv('../UNSW_NB15_ADNOMALY.csv', index=False)

In [3]:
test_df = pd.read_csv('../UNSW_NB15_testing-set.csv', index_col = False).drop('id', axis=1)
NORMAL = test_df[test_df['attack_cat'] == 'Normal']
NORMAL.to_csv('../UNSW_NB15_TEST_NORMAL.csv', index=False)

ANOMALY = test_df[test_df['attack_cat'] != 'Normal']
ANOMALY.to_csv('../UNSW_NB15_TEST_ANOMALY.csv', index=False)

In [3]:
TCP = df[df['proto'] == 'tcp']
TCP

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
29,1.434166,tcp,-,FIN,10,6,530,268,10.459041,254,...,1,1,0,0,0,1,1,0,Normal,0
31,1.924287,tcp,-,FIN,10,8,530,354,8.834441,254,...,1,1,0,0,0,1,1,0,Normal,0
32,2.773779,tcp,-,FIN,14,8,7954,354,7.570899,254,...,1,1,0,0,0,2,1,0,Normal,0
34,1.465041,tcp,-,FIN,10,8,2516,354,11.603770,254,...,1,3,0,0,0,2,2,0,Normal,0
35,0.983874,tcp,http,FIN,10,8,816,1172,17.278635,62,...,1,2,0,0,1,1,3,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82314,0.524434,tcp,-,FIN,10,6,588,268,28.602266,254,...,1,1,0,0,0,1,1,0,Normal,0
82317,0.947039,tcp,-,FIN,10,6,588,268,15.838841,254,...,1,4,0,0,0,1,4,0,Normal,0
82319,0.811914,tcp,-,FIN,10,6,588,268,18.474862,254,...,1,4,0,0,0,1,4,0,Normal,0
82323,5.167410,tcp,-,FIN,108,24,138067,1042,25.351192,254,...,1,1,0,0,0,1,3,0,Normal,0
82328,1.106101,tcp,-,FIN,20,8,18062,354,24.410067,254,...,1,1,0,0,0,3,2,0,Normal,0

In [4]:
TCP_NON_SERVICE = TCP[TCP['service'] == '-']
TCP_NON_SERVICE

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
29,1.434166,tcp,-,FIN,10,6,530,268,10.459041,254,...,1,1,0,0,0,1,1,0,Normal,0
31,1.924287,tcp,-,FIN,10,8,530,354,8.834441,254,...,1,1,0,0,0,1,1,0,Normal,0
32,2.773779,tcp,-,FIN,14,8,7954,354,7.570899,254,...,1,1,0,0,0,2,1,0,Normal,0
34,1.465041,tcp,-,FIN,10,8,2516,354,11.603770,254,...,1,3,0,0,0,2,2,0,Normal,0
36,0.714182,tcp,-,FIN,10,6,534,268,21.003049,254,...,1,2,0,0,0,2,2,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82314,0.524434,tcp,-,FIN,10,6,588,268,28.602266,254,...,1,1,0,0,0,1,1,0,Normal,0
82317,0.947039,tcp,-,FIN,10,6,588,268,15.838841,254,...,1,4,0,0,0,1,4,0,Normal,0
82319,0.811914,tcp,-,FIN,10,6,588,268,18.474862,254,...,1,4,0,0,0,1,4,0,Normal,0
82323,5.167410,tcp,-,FIN,108,24,138067,1042,25.351192,254,...,1,1,0,0,0,1,3,0,Normal,0
82328,1.106101,tcp,-,FIN,20,8,18062,354,24.410067,254,...,1,1,0,0,0,3,2,0,Normal,0

In [5]:
TCP_NON_SERVICE.loc[TCP_NON_SERVICE['state'] == 'FIN', 'state'] = 0
TCP_NON_SERVICE.loc[TCP_NON_SERVICE['state'] == 'CON', 'state'] = 1
TCP_NON_SERVICE.loc[TCP_NON_SERVICE['state'] == 'REQ', 'state'] = 2

C:\Users\minstone\Anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [6]:
TCP_NON_SERVICE['state'].value_counts()

0      25629
1       2043
2       1655
ACC        3
CLO        1
RST        1
Name: state, dtype: int64

In [7]:
ACC = TCP_NON_SERVICE[TCP_NON_SERVICE['state'] == 'ACC'].index
CLO = TCP_NON_SERVICE[TCP_NON_SERVICE['state'] == 'CLO'].index
RST = TCP_NON_SERVICE[TCP_NON_SERVICE['state'] == 'RST'].index
TCP_NON_SERVICE = TCP_NON_SERVICE.drop(ACC)
TCP_NON_SERVICE = TCP_NON_SERVICE.drop(CLO)
TCP_NON_SERVICE = TCP_NON_SERVICE.drop(RST)

In [8]:
TCP_NON_SERVICE = TCP_NON_SERVICE.drop(
    ['service', 
     'proto', 
     'ct_ftp_cmd', 
     'is_sm_ips_ports', 
     'ct_flw_http_mthd', 
     'is_ftp_login'], axis=1)
TCP_NON_SERVICE

,dur,state,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,ct_srv_src,ct_state_ttl,ct_dst_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,ct_src_ltm,ct_srv_dst,attack_cat,label
29,1.434166,0,10,6,530,268,10.459041,254,252,2660.780029,...,2,1,1,1,1,1,1,1,Normal,0
31,1.924287,0,10,8,530,354,8.834441,254,252,1983.072266,...,2,1,1,1,1,1,1,1,Normal,0
32,2.773779,0,14,8,7954,354,7.570899,254,252,21302.345700,...,1,1,1,1,1,1,2,1,Normal,0
34,1.465041,0,10,8,2516,354,11.603770,254,252,12368.253910,...,4,1,2,1,1,3,2,2,Normal,0
36,0.714182,0,10,6,534,268,21.003049,254,252,5387.982422,...,3,1,1,1,1,2,2,2,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82314,0.524434,0,10,6,588,268,28.602266,254,252,8084.907227,...,1,1,1,1,1,1,1,1,Normal,0
82317,0.947039,0,10,6,588,268,15.838841,254,252,4477.112305,...,4,1,1,1,1,4,1,4,Normal,0
82319,0.811914,0,10,6,588,268,18.474862,254,252,5222.228027,...,4,1,1,1,1,4,1,4,Normal,0
82323,5.167410,0,108,24,138067,1042,25.351192,254,252,211771.859400,...,1,1,1,1,1,1,1,3,Normal,0
82328,1.106101,0,20,8,18062,354,24.410067,254,252,124104.398400,...,1,1,2,1,1,1,3,2,Normal,0

In [9]:
NORMAL = TCP_NON_SERVICE[TCP_NON_SERVICE['attack_cat'] == 'Normal']
ANOMALY = TCP_NON_SERVICE[TCP_NON_SERVICE['attack_cat'] != 'Normal']

In [11]:
NORMAL = NORMAL.drop(['attack_cat', 'label'], axis = 1)
ANOMALY = ANOMALY.drop(['attack_cat', 'label'], axis = 1)

In [12]:
NORMAL

,dur,state,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,trans_depth,response_body_len,ct_srv_src,ct_state_ttl,ct_dst_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,ct_src_ltm,ct_srv_dst
29,1.434166,0,10,6,530,268,10.459041,254,252,2660.780029,...,0,0,2,1,1,1,1,1,1,1
31,1.924287,0,10,8,530,354,8.834441,254,252,1983.072266,...,0,0,2,1,1,1,1,1,1,1
32,2.773779,0,14,8,7954,354,7.570899,254,252,21302.345700,...,0,0,1,1,1,1,1,1,2,1
34,1.465041,0,10,8,2516,354,11.603770,254,252,12368.253910,...,0,0,4,1,2,1,1,3,2,2
36,0.714182,0,10,6,534,268,21.003049,254,252,5387.982422,...,0,0,3,1,1,1,1,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82314,0.524434,0,10,6,588,268,28.602266,254,252,8084.907227,...,0,0,1,1,1,1,1,1,1,1
82317,0.947039,0,10,6,588,268,15.838841,254,252,4477.112305,...,0,0,4,1,1,1,1,4,1,4
82319,0.811914,0,10,6,588,268,18.474862,254,252,5222.228027,...,0,0,4,1,1,1,1,4,1,4
82323,5.167410,0,108,24,138067,1042,25.351192,254,252,211771.859400,...,0,0,1,1,1,1,1,1,1,3
82328,1.106101,0,20,8,18062,354,24.410067,254,252,124104.398400,...,0,0,1,1,2,1,1,1,3,2

In [13]:
ANOMALY

,dur,state,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,trans_depth,response_body_len,ct_srv_src,ct_state_ttl,ct_dst_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,ct_src_ltm,ct_srv_dst
256,0.674665,0,10,8,564,354,25.197692,254,252,6023.730469,...,0,0,2,1,1,1,1,1,1,1
258,0.285988,0,10,8,1196,992,59.443053,62,252,30127.138670,...,1,0,1,1,1,1,1,1,1,1
260,0.663844,0,10,8,564,354,25.608426,254,252,6121.920410,...,0,0,1,1,1,1,1,1,1,1
272,0.667368,0,10,8,564,354,25.473202,254,252,6089.593750,...,0,0,1,1,1,1,1,1,3,1
277,0.523646,0,10,6,674,268,28.645306,254,252,9273.440430,...,0,0,7,1,1,1,1,7,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65843,0.642848,0,10,8,564,354,26.444820,254,252,6321.867676,...,0,0,3,1,1,1,1,1,1,2
65845,0.671189,0,10,8,564,354,25.328186,254,252,6054.926270,...,0,0,2,1,1,1,1,1,1,1
65846,0.623570,0,10,8,564,354,27.262375,254,252,6517.311523,...,0,0,2,1,1,1,1,1,1,1
65850,0.627022,0,10,6,590,268,23.922605,254,252,6774.881836,...,0,0,5,1,2,1,1,1,1,5
65851,0.339093,0,10,6,590,268,44.235652,254,252,12527.537110,...,0,0,6,1,3,2,1,2,2,4

In [14]:
np.save('TCP_NON_SERVICE_NORMAL', NORMAL)
np.save('TCP_NON_SERVICE_ANOMALY', ANOMALY)

In [44]:
TCP_NON_SERVICE.loc[TCP_NON_SERVICE['attack_cat'] == 'Normal', 'attack_cat'] = 0
TCP_NON_SERVICE.loc[TCP_NON_SERVICE['attack_cat'] == 'Fuzzers', 'attack_cat'] = 1
TCP_NON_SERVICE.loc[TCP_NON_SERVICE['attack_cat'] == 'Exploits', 'attack_cat'] = 2
TCP_NON_SERVICE.loc[TCP_NON_SERVICE['attack_cat'] == 'Reconnaissance', 'attack_cat'] = 3
TCP_NON_SERVICE.loc[TCP_NON_SERVICE['attack_cat'] == 'DoS', 'attack_cat'] = 4
TCP_NON_SERVICE.loc[TCP_NON_SERVICE['attack_cat'] == 'Generic', 'attack_cat'] = 5
TCP_NON_SERVICE.loc[TCP_NON_SERVICE['attack_cat'] == 'Shellcode', 'attack_cat'] = 6
TCP_NON_SERVICE.loc[TCP_NON_SERVICE['attack_cat'] == 'Analysis', 'attack_cat'] = 7
TCP_NON_SERVICE.loc[TCP_NON_SERVICE['attack_cat'] == 'Backdoor', 'attack_cat'] = 8
TCP_NON_SERVICE.loc[TCP_NON_SERVICE['attack_cat'] == 'Worms', 'attack_cat'] = 9
TCP_NON_SERVICE['attack_cat'].value_counts()

0    21291
1     3194
2     2542
3     1387
4      386
5      232
6      193
7       58
8       40
9        4
Name: attack_cat, dtype: int64

In [45]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_df = scaler.fit_transform(TCP_NON_SERVICE[:])
head = TCP_NON_SERVICE.columns
normalized_df = pd.DataFrame(normalized_df, columns = head)
normalized_df

,dur,state,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,ct_srv_src,ct_state_ttl,ct_dst_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,ct_src_ltm,ct_srv_dst,attack_cat,label
0,0.023904,0.0,0.000882,0.000776,0.000035,0.000026,0.000010,0.995575,0.996047,0.000007,...,0.020833,0.166667,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0
1,0.032073,0.0,0.000882,0.001035,0.000035,0.000034,0.000009,0.995575,0.996047,0.000006,...,0.020833,0.166667,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0
2,0.046232,0.0,0.001275,0.001035,0.000577,0.000034,0.000008,0.995575,0.996047,0.000059,...,0.000000,0.166667,0.000000,0.0,0.0,0.000000,0.021739,0.000000,0.0,0.0
3,0.024418,0.0,0.000882,0.001035,0.000180,0.000034,0.000012,0.995575,0.996047,0.000034,...,0.062500,0.166667,0.025641,0.0,0.0,0.042553,0.021739,0.021277,0.0,0.0
4,0.011904,0.0,0.000882,0.000776,0.000035,0.000026,0.000021,0.995575,0.996047,0.000015,...,0.041667,0.166667,0.000000,0.0,0.0,0.021277,0.021739,0.021277,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29322,0.008741,0.0,0.000882,0.000776,0.000039,0.000026,0.000029,0.995575,0.996047,0.000022,...,0.000000,0.166667,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0
29323,0.015785,0.0,0.000882,0.000776,0.000039,0.000026,0.000016,0.995575,0.996047,0.000012,...,0.062500,0.166667,0.000000,0.0,0.0,0.063830,0.000000,0.063830,0.0,0.0
29324,0.013532,0.0,0.000882,0.000776,0.000039,0.000026,0.000018,0.995575,0.996047,0.000015,...,0.062500,0.166667,0.000000,0.0,0.0,0.063830,0.000000,0.063830,0.0,0.0
29325,0.086127,0.0,0.010491,0.003106,0.010090,0.000100,0.000025,0.995575,0.996047,0.000588,...,0.000000,0.166667,0.000000,0.0,0.0,0.000000,0.000000,0.042553,0.0,0.0
29326,0.018436,0.0,0.001863,0.001035,0.001316,0.000034,0.000024,0.995575,0.996047,0.000345,...,0.000000,0.166667,0.025641,0.0,0.0,0.000000,0.043478,0.021277,0.0,0.0

In [46]:
normalized_df['state'].value_counts()

0.0    25629
0.5     2043
1.0     1655
Name: state, dtype: int64

In [47]:
normalized_df['label'].value_counts()

0.0    21291
1.0     8036
Name: label, dtype: int64

In [48]:
np.save('TCP_NON_SERVICE_NORMAL', normalized_df[normalized_df['label'] == 0.0].drop(['label', 'attack_cat'], axis=1))

In [49]:
np.save('TCP_NON_SERVICE_ANOMALY', normalized_df[normalized_df['label'] == 1.0].drop(['label', 'attack_cat'], axis=1))

In [32]:
TCP_NON_SERVICE[''].value_counts()

0    29327
Name: is_ftp_login, dtype: int64

In [29]:
TCP_NON_SERVICE

,dur,state,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
29,1.434166,0,10,6,530,268,10.459041,254,252,2660.780029,...,1,1,0,0,0,1,1,0,0,0
31,1.924287,0,10,8,530,354,8.834441,254,252,1983.072266,...,1,1,0,0,0,1,1,0,0,0
32,2.773779,0,14,8,7954,354,7.570899,254,252,21302.345700,...,1,1,0,0,0,2,1,0,0,0
34,1.465041,0,10,8,2516,354,11.603770,254,252,12368.253910,...,1,3,0,0,0,2,2,0,0,0
36,0.714182,0,10,6,534,268,21.003049,254,252,5387.982422,...,1,2,0,0,0,2,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82314,0.524434,0,10,6,588,268,28.602266,254,252,8084.907227,...,1,1,0,0,0,1,1,0,0,0
82317,0.947039,0,10,6,588,268,15.838841,254,252,4477.112305,...,1,4,0,0,0,1,4,0,0,0
82319,0.811914,0,10,6,588,268,18.474862,254,252,5222.228027,...,1,4,0,0,0,1,4,0,0,0
82323,5.167410,0,108,24,138067,1042,25.351192,254,252,211771.859400,...,1,1,0,0,0,1,3,0,0,0
82328,1.106101,0,20,8,18062,354,24.410067,254,252,124104.398400,...,1,1,0,0,0,3,2,0,0,0

In [50]:
TCP_NON_SERVICE

,dur,state,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,ct_srv_src,ct_state_ttl,ct_dst_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,ct_src_ltm,ct_srv_dst,attack_cat,label
29,1.434166,0,10,6,530,268,10.459041,254,252,2660.780029,...,2,1,1,1,1,1,1,1,0,0
31,1.924287,0,10,8,530,354,8.834441,254,252,1983.072266,...,2,1,1,1,1,1,1,1,0,0
32,2.773779,0,14,8,7954,354,7.570899,254,252,21302.345700,...,1,1,1,1,1,1,2,1,0,0
34,1.465041,0,10,8,2516,354,11.603770,254,252,12368.253910,...,4,1,2,1,1,3,2,2,0,0
36,0.714182,0,10,6,534,268,21.003049,254,252,5387.982422,...,3,1,1,1,1,2,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82314,0.524434,0,10,6,588,268,28.602266,254,252,8084.907227,...,1,1,1,1,1,1,1,1,0,0
82317,0.947039,0,10,6,588,268,15.838841,254,252,4477.112305,...,4,1,1,1,1,4,1,4,0,0
82319,0.811914,0,10,6,588,268,18.474862,254,252,5222.228027,...,4,1,1,1,1,4,1,4,0,0
82323,5.167410,0,108,24,138067,1042,25.351192,254,252,211771.859400,...,1,1,1,1,1,1,1,3,0,0
82328,1.106101,0,20,8,18062,354,24.410067,254,252,124104.398400,...,1,1,2,1,1,1,3,2,0,0

In [53]:
scaler = MinMaxScaler()
normalized_df = scaler.fit_transform(TCP_NON_SERVICE[:])
head = TCP_NON_SERVICE.columns
normalized_df = pd.DataFrame(normalized_df, columns = head)
normalized_df

FUZZERS = TCP_NON_SERVICE[TCP_NON_SERVICE['attack_cat'] == 1]
FUZZERS = scaler.fit_transform(FUZZERS[:])
FUZZERS = pd.DataFrame(FUZZERS, columns = head)

EXPLOITS = TCP_NON_SERVICE[TCP_NON_SERVICE['attack_cat'] == 2]
EXPLOITS = scaler.fit_transform(EXPLOITS[:])
EXPLOITS = pd.DataFrame(EXPLOITS, columns = head)

RECONNAISSANCE = TCP_NON_SERVICE[TCP_NON_SERVICE['attack_cat'] == 3]
RECONNAISSANCE = scaler.fit_transform(RECONNAISSANCE[:])
RECONNAISSANCE = pd.DataFrame(RECONNAISSANCE, columns = head)

DOS = TCP_NON_SERVICE[TCP_NON_SERVICE['attack_cat'] == 4]
DOS = scaler.fit_transform(DOS[:])
DOS = pd.DataFrame(DOS, columns = head)

GENERIC = TCP_NON_SERVICE[TCP_NON_SERVICE['attack_cat'] == 5]
FUZZERS = scaler.fit_transform(FUZZERS[:])
FUZZERS = pd.DataFrame(FUZZERSE, columns = head)

SHELLCODE = TCP_NON_SERVICE[TCP_NON_SERVICE['attack_cat'] == 6]
FUZZERS = scaler.fit_transform(FUZZERS[:])
FUZZERS = pd.DataFrame(FUZZERSE, columns = head)

ANALYSIS = TCP_NON_SERVICE[TCP_NON_SERVICE['attack_cat'] == 7]
FUZZERS = scaler.fit_transform(FUZZERS[:])
FUZZERS = pd.DataFrame(FUZZERSE, columns = head)

BACKDOOR = TCP_NON_SERVICE[TCP_NON_SERVICE['attack_cat'] == 8]
FUZZERS = scaler.fit_transform(FUZZERS[:])
FUZZERS = pd.DataFrame(FUZZERSE, columns = head)




np.save('TCP_NON_SERVICE_FUZZERS', FUZZERS.drop(['label', 'attack_cat'], axis=1))
np.save('TCP_NON_SERVICE_EXPLOITS', EXPLOITS.drop(['label', 'attack_cat'], axis=1))
np.save('TCP_NON_SERVICE_RECONNAISSANCE', RECONNAISSANCE.drop(['label', 'attack_cat'], axis=1))
np.save('TCP_NON_SERVICE_DOS', DOS.drop(['label', 'attack_cat'], axis=1))
np.save('TCP_NON_SERVICE_GENERIC', GENERIC.drop(['label', 'attack_cat'], axis=1))
np.save('TCP_NON_SERVICE_SHELLCODE', SHELLCODE.drop(['label', 'attack_cat'], axis=1))
np.save('TCP_NON_SERVICE_ANALYSIS', ANALYSIS.drop(['label', 'attack_cat'], axis=1))
np.save('TCP_NON_SERVICE_BACKDOOR', BACKDOOR.drop(['label', 'attack_cat'], axis=1))

In [22]:
import torch
print(torch.__version__)

1.9.1