In [1]:
import pandas as pd 
import numpy as np

In [5]:
train_data = pd.read_csv('./UNSW_NB15_training-set.csv', index_col = False).drop(['id'], axis=1)
test_data = pd.read_csv('./UNSW_NB15_testing-set.csv', index_col = False).drop(['id'], axis=1)
train_data

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,0.000011,udp,-,INT,2,0,496,0,90909.090200,254,...,1,2,0,0,0,1,2,0,Normal,0
1,0.000008,udp,-,INT,2,0,1762,0,125000.000300,254,...,1,2,0,0,0,1,2,0,Normal,0
2,0.000005,udp,-,INT,2,0,1068,0,200000.005100,254,...,1,3,0,0,0,1,3,0,Normal,0
3,0.000006,udp,-,INT,2,0,900,0,166666.660800,254,...,1,3,0,0,0,2,3,0,Normal,0
4,0.000010,udp,-,INT,2,0,2126,0,100000.002500,254,...,1,3,0,0,0,2,3,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82327,0.000005,udp,-,INT,2,0,104,0,200000.005100,254,...,1,2,0,0,0,2,1,0,Normal,0
82328,1.106101,tcp,-,FIN,20,8,18062,354,24.410067,254,...,1,1,0,0,0,3,2,0,Normal,0
82329,0.000000,arp,-,INT,1,0,46,0,0.000000,0,...,1,1,0,0,0,1,1,1,Normal,0
82330,0.000000,arp,-,INT,1,0,46,0,0.000000,0,...,1,1,0,0,0,1,1,1,Normal,0
82331,0.000009,udp,-,INT,2,0,104,0,111111.107200,254,...,1,1,0,0,0,1,1,0,Normal,0

In [6]:
test_data

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,0.121478,tcp,-,FIN,6,4,258,172,74.087490,252,...,1,1,0,0,0,1,1,0,Normal,0
1,0.649902,tcp,-,FIN,14,38,734,42014,78.473372,62,...,1,2,0,0,0,1,6,0,Normal,0
2,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,62,...,1,3,0,0,0,2,6,0,Normal,0
3,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,62,...,1,3,1,1,0,2,1,0,Normal,0
4,0.449454,tcp,-,FIN,10,6,534,268,33.373826,254,...,1,40,0,0,0,2,39,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175336,0.000009,udp,dns,INT,2,0,114,0,111111.107200,254,...,13,24,0,0,0,24,24,0,Generic,1
175337,0.505762,tcp,-,FIN,10,8,620,354,33.612649,254,...,1,2,0,0,0,1,1,0,Shellcode,1
175338,0.000009,udp,dns,INT,2,0,114,0,111111.107200,254,...,3,13,0,0,0,3,12,0,Generic,1
175339,0.000009,udp,dns,INT,2,0,114,0,111111.107200,254,...,14,30,0,0,0,30,30,0,Generic,1
175340,0.000009,udp,dns,INT,2,0,114,0,111111.107200,254,...,16,30,0,0,0,30,30,0,Generic,1

In [9]:
train_str = train_data[['proto', 'service', 'state', 'attack_cat', 'label']]
train_str

      proto service state attack_cat  label
0       udp       -   INT     Normal      0
1       udp       -   INT     Normal      0
2       udp       -   INT     Normal      0
3       udp       -   INT     Normal      0
4       udp       -   INT     Normal      0
...     ...     ...   ...        ...    ...
82327   udp       -   INT     Normal      0
82328   tcp       -   FIN     Normal      0
82329   arp       -   INT     Normal      0
82330   arp       -   INT     Normal      0
82331   udp       -   INT     Normal      0

[82332 rows x 5 columns]

In [10]:
train_data = train_data.drop(['proto', 'service', 'state', 'attack_cat', 'label'], axis = 1)
train_data

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,ct_dst_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports
0,0.000011,2,0,496,0,90909.090200,254,0,1.803636e+08,0.000000,...,1,1,1,2,0,0,0,1,2,0
1,0.000008,2,0,1762,0,125000.000300,254,0,8.810000e+08,0.000000,...,1,1,1,2,0,0,0,1,2,0
2,0.000005,2,0,1068,0,200000.005100,254,0,8.544000e+08,0.000000,...,1,1,1,3,0,0,0,1,3,0
3,0.000006,2,0,900,0,166666.660800,254,0,6.000000e+08,0.000000,...,2,2,1,3,0,0,0,2,3,0
4,0.000010,2,0,2126,0,100000.002500,254,0,8.504000e+08,0.000000,...,2,2,1,3,0,0,0,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82327,0.000005,2,0,104,0,200000.005100,254,0,8.320000e+07,0.000000,...,2,1,1,2,0,0,0,2,1,0
82328,1.106101,20,8,18062,354,24.410067,254,252,1.241044e+05,2242.109863,...,2,1,1,1,0,0,0,3,2,0
82329,0.000000,1,0,46,0,0.000000,0,0,0.000000e+00,0.000000,...,1,1,1,1,0,0,0,1,1,1
82330,0.000000,1,0,46,0,0.000000,0,0,0.000000e+00,0.000000,...,1,1,1,1,0,0,0,1,1,1
82331,0.000009,2,0,104,0,111111.107200,254,0,4.622222e+07,0.000000,...,1,1,1,1,0,0,0,1,1,0

In [11]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_df = scaler.fit_transform(train_data[:])
head = train_data.columns
normalized_df = pd.DataFrame(normalized_df, columns = head)
normalized_df

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,ct_dst_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports
0,1.833334e-07,0.000094,0.000000,0.000033,0.000000,0.090909,0.996078,0.000000,0.034238,0.000000,...,0.000000,0.000000,0.0,0.016129,0.0,0.0,0.0,0.000000,0.016393,0.0
1,1.333334e-07,0.000094,0.000000,0.000121,0.000000,0.125000,0.996078,0.000000,0.167236,0.000000,...,0.000000,0.000000,0.0,0.016129,0.0,0.0,0.0,0.000000,0.016393,0.0
2,8.333335e-08,0.000094,0.000000,0.000073,0.000000,0.200000,0.996078,0.000000,0.162187,0.000000,...,0.000000,0.000000,0.0,0.032258,0.0,0.0,0.0,0.000000,0.032787,0.0
3,1.000000e-07,0.000094,0.000000,0.000061,0.000000,0.166667,0.996078,0.000000,0.113895,0.000000,...,0.017241,0.017241,0.0,0.032258,0.0,0.0,0.0,0.016949,0.032787,0.0
4,1.666667e-07,0.000094,0.000000,0.000146,0.000000,0.100000,0.996078,0.000000,0.161427,0.000000,...,0.017241,0.017241,0.0,0.032258,0.0,0.0,0.0,0.016949,0.032787,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82327,8.333335e-08,0.000094,0.000000,0.000006,0.000000,0.200000,0.996078,0.000000,0.015793,0.000000,...,0.017241,0.000000,0.0,0.016129,0.0,0.0,0.0,0.016949,0.000000,0.0
82328,1.843502e-02,0.001785,0.000726,0.001257,0.000024,0.000024,0.996078,0.996047,0.000024,0.000108,...,0.017241,0.000000,0.0,0.000000,0.0,0.0,0.0,0.033898,0.016393,0.0
82329,0.000000e+00,0.000000,0.000000,0.000002,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,1.0
82330,0.000000e+00,0.000000,0.000000,0.000002,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,1.0
82331,1.500000e-07,0.000094,0.000000,0.000006,0.000000,0.111111,0.996078,0.000000,0.008774,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0

In [12]:
train_data /= train_data.max()/255.0

In [13]:
train_data

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,ct_dst_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports
0,0.000047,0.047905,0.000000,0.008810,0.000000,23.181818,254.0,0.000000,8.730585,0.00000,...,4.322034,4.322034,6.710526,8.095238,0.0,0.0,0.0,4.25,8.225806,0.0
1,0.000034,0.047905,0.000000,0.031298,0.000000,31.875000,254.0,0.000000,42.645214,0.00000,...,4.322034,4.322034,6.710526,8.095238,0.0,0.0,0.0,4.25,8.225806,0.0
2,0.000021,0.047905,0.000000,0.018971,0.000000,51.000001,254.0,0.000000,41.357629,0.00000,...,4.322034,4.322034,6.710526,12.142857,0.0,0.0,0.0,4.25,12.338710,0.0
3,0.000026,0.047905,0.000000,0.015987,0.000000,42.499998,254.0,0.000000,29.043279,0.00000,...,8.644068,8.644068,6.710526,12.142857,0.0,0.0,0.0,8.50,12.338710,0.0
4,0.000043,0.047905,0.000000,0.037764,0.000000,25.500001,254.0,0.000000,41.164007,0.00000,...,8.644068,8.644068,6.710526,12.142857,0.0,0.0,0.0,8.50,12.338710,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82327,0.000021,0.047905,0.000000,0.001847,0.000000,51.000001,254.0,0.000000,4.027335,0.00000,...,8.644068,4.322034,6.710526,8.095238,0.0,0.0,0.0,8.50,4.112903,0.0
82328,4.700930,0.479053,0.185152,0.320833,0.006159,0.006225,254.0,253.992095,0.006007,0.02746,...,8.644068,4.322034,6.710526,4.047619,0.0,0.0,0.0,12.75,8.225806,0.0
82329,0.000000,0.023953,0.000000,0.000817,0.000000,0.000000,0.0,0.000000,0.000000,0.00000,...,4.322034,4.322034,6.710526,4.047619,0.0,0.0,0.0,4.25,4.112903,255.0
82330,0.000000,0.023953,0.000000,0.000817,0.000000,0.000000,0.0,0.000000,0.000000,0.00000,...,4.322034,4.322034,6.710526,4.047619,0.0,0.0,0.0,4.25,4.112903,255.0
82331,0.000038,0.047905,0.000000,0.001847,0.000000,28.333332,254.0,0.000000,2.237408,0.00000,...,4.322034,4.322034,6.710526,4.047619,0.0,0.0,0.0,4.25,4.112903,0.0

In [14]:
train_data['sttl'].value_counts()

254.0    54049
31.0     16702
62.0     10374
0.0       1048
29.0        50
1.0         38
255.0       25
60.0        24
32.0        19
30.0         2
63.0         1
Name: sttl, dtype: int64

In [16]:
train_data = pd.concat([train_data, train_str], axis=1)

In [19]:
train_data.to_csv('./Normalized_train_data.csv', index= False)

In [20]:
test_str = test_data[['proto', 'service', 'state', 'attack_cat', 'label']]
test_data = test_data.drop(['proto', 'service', 'state', 'attack_cat', 'label'], axis = 1)
test_data /= test_data.max()/255.0
test_data = pd.concat([test_data, test_str], axis=1)
test_data.to_csv('./Normalized_test_data.csv', index= False)

In [23]:
def convert_to_gray(number):
    '''
    return into list type
    '''
    if type(number) == str:
        value = []
        for char in number:
            value.append(ord(char))
        return value
    else:
        return [number]

In [24]:
print(convert_to_gray("udp"))

[117, 100, 112]

In [ ]:
ee